USE [master]
GO
/****** Object:  Database [CONTROLE_ESTOQUE]    Script Date: 05/20/2013 17:49:40 ******/
CREATE DATABASE [CONTROLE_ESTOQUE] ON  PRIMARY 
( NAME = N'CONTROLE_ESTOQUE', FILENAME = N'C:\ControleNovo\BD\CONTROLE_ESTOQUE.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CONTROLE_ESTOQUE_log', FILENAME = N'C:\ControleNovo\BD\CONTROLE_ESTOQUE_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CONTROLE_ESTOQUE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CONTROLE_ESTOQUE]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 05/20/2013 17:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[COD_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[CIDADE] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORNECEDOR]    Script Date: 05/20/2013 17:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORNECEDOR](
	[COD_FORNECEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[TELEFONE] [char](13) NOT NULL,
	[ENDERECO] [varchar](40) NOT NULL,
	[CIDADE] [varchar](20) NOT NULL,
	[ESTADO] [char](2) NOT NULL,
	[PATH] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_FORNECEDOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 05/20/2013 17:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[COD_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[COD_FORNECEDOR] [int] NOT NULL,
	[DESCRICAO] [varchar](25) NOT NULL,
	[QTD_ESTOQUE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PRODUTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAIDA]    Script Date: 05/20/2013 17:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAIDA](
	[COD_SAIDA] [int] IDENTITY(1,1) NOT NULL,
	[COD_PRODUTO] [int] NOT NULL,
	[DATA_SAIDA] [date] NOT NULL,
	[QTD_VENDIDA] [int] NOT NULL,
	[VALOR_UNITARIO] [numeric](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_SAIDA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRADA]    Script Date: 05/20/2013 17:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADA](
	[COD_ENTRADA] [int] IDENTITY(1,1) NOT NULL,
	[COD_PRODUTO] [int] NOT NULL,
	[DATA_ENTRADA] [date] NOT NULL,
	[QTD_COMPRADA] [int] NOT NULL,
	[VALOR_UNITARIO] [numeric](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ENTRADA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__PRODUTO__QTD_EST__060DEAE8]    Script Date: 05/20/2013 17:49:45 ******/
ALTER TABLE [dbo].[PRODUTO] ADD  DEFAULT ((0)) FOR [QTD_ESTOQUE]
GO
/****** Object:  Default [DF__SAIDA__DATA_SAID__117F9D94]    Script Date: 05/20/2013 17:49:45 ******/
ALTER TABLE [dbo].[SAIDA] ADD  DEFAULT (getdate()) FOR [DATA_SAIDA]
GO
/****** Object:  Default [DF__ENTRADA__DATA_EN__0BC6C43E]    Script Date: 05/20/2013 17:49:45 ******/
ALTER TABLE [dbo].[ENTRADA] ADD  DEFAULT (getdate()) FOR [DATA_ENTRADA]
GO
/****** Object:  ForeignKey [FK__PRODUTO__COD_FOR__0519C6AF]    Script Date: 05/20/2013 17:49:45 ******/
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD FOREIGN KEY([COD_FORNECEDOR])
REFERENCES [dbo].[FORNECEDOR] ([COD_FORNECEDOR])
GO
/****** Object:  ForeignKey [FK__SAIDA__COD_PRODU__108B795B]    Script Date: 05/20/2013 17:49:45 ******/
ALTER TABLE [dbo].[SAIDA]  WITH CHECK ADD FOREIGN KEY([COD_PRODUTO])
REFERENCES [dbo].[PRODUTO] ([COD_PRODUTO])
GO
/****** Object:  ForeignKey [FK__ENTRADA__COD_PRO__0AD2A005]    Script Date: 05/20/2013 17:49:45 ******/
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD FOREIGN KEY([COD_PRODUTO])
REFERENCES [dbo].[PRODUTO] ([COD_PRODUTO])
GO
